@model IEnumerable<BasketItem>

@{
    var title = "Корзина";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Название продукта</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Сумма</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{decimal TotalSum = 0.00m;}
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Product.Name</td>
            <td>@item.Count</td>
            <td>@item.Product.Price</td>
          @{ decimal sum = item.Count * item.Product.Price;
              TotalSum += sum;}
            <td>@sum</td>
            <td>
                <a href="basket/DelFromBasket/@(item.Id)" class="btn btn-danger">Удалить из корзины</a>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td><b>Итого</b></td>
            <td></td>
            <td></td>
            <td><b>@TotalSum</b></td>
            <td></td>
        </tr>
    </tfoot>
</table>

<div class="row">
    <div class="col-md-1">
        <a href="basket/PlaceOrder" class="btn btn-primary">Оформить заказ</a>
    </div>
</div>
