@model Shop.Models.Order

@{
    var title = "Детали заказа";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            №
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Название продукта</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Сумма</th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @{decimal total_sum = 0.00m;}
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Count</td>
                    <td>@item.Product.Price</td>
                    @{ var sum = item.Count * item.Product.Price;
                        total_sum += sum;}
                    <td>@sum</td>
                    @*<td>
                    <a href="basket/del_from_basket/@(item.Id)" class="btn btn-danger">Удалить из корзины</a>
                </td>*@
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td><b>Итого</b></td>
                <td></td>
                <td></td>
                <td><b>@total_sum</b></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться в список</a>
</div>
